I will attemp to make a visualization of the COVID pandemic. I will use the Bokeh visualizaion library.

Data source [Our World in Data](https://covid.ourworldindata.org/data/owid-covid-data.csv)

[Additional data](https://covid.ourworldindata.org/data/ecdc/locations.csv) on locations.

[Bokeh](https://github.com/bokeh/bokeh) is an open source project published under the [BSD](https://en.wikipedia.org/wiki/BSD_licenses#:~:text=BSD%20licenses%20are%20a%20family,and%20distribution%20of%20covered%20software.&text=The%20original%20BSD%20license%20was,a%20Unix%2Dlike%20operating%20system.) license.

You can find a nice presentation [here](https://www.youtube.com/watch?v=O5OvOLK-xqQ) from one of the developers Sarah Bird.

From their GitHub:

Bokeh is an interactive visualization library for modern web browsers. It provides elegant, concise construction of versatile graphics, and affords high-performance interactivity over large or streaming datasets. Bokeh can help anyone who would like to quickly and easily make interactive plots, dashboards, and data applications.

As a side note. This came up in a quick google searc for declarative vs. imperative. Declarative programming is when you say what you want, and imperative language is when you say how to get what you want.

The way Bokeh works is, that it gets bundled into a json file wich gets pushed to a client, were it gets rendered as a javasript. (There is a BokehJS library)

Visualization Technique (25%)
A narrative description of the visualization you are planning to use, describing how it works
A discussion of in which circumstances this visualization should and should not be used (what is is close to? What else could you consider? How does it relate to specific aspects of data?

# Dependencies

* PyYAML>=3.10
* python-dateutil>=2.1
* Jinja2>=2.7
* numpy>=1.11.3
* pillow>=4.0
* packaging>=16.8
* tornado>=5
* typing_extensions >=3.7.4

~~~
conda install -c anaconda pyyaml
conda install -c anaconda python-dateutils
conda install -c conda-forge jinja2
conda install -c conda-forge numpy
conda install -c conda-forge pillow
conda install -c conda-forge packaging
conda install -c conda-forge tornado
conda install -c conda-forge typing_extensions
~~~

for pip users just use pip install

* Optional
~~~
conda install -c conda-forge scripting
~~~
# Instalation
With pip
~~~
pip install bokeh
~~~
With conda
~~~
conda install bokeh
~~~

Make sure to close all notebook instances before installing dependencies.

Bokeh Is used to make interactive visualizations for the web wich is an area that interest me. It offers server-side processing for big data wich is also something I would like to explore for my own work.

Visualization Library (25%)
The library you are going to use, and a background on why the library is good for this visualization. Who created it? Is it open source? How do you install it?
A discussion of the general approach and limitations of this library. Is it declarative or procedural? Does it integrate with Jupyter? Why you decided to use this library (especially if there are other options)?

Demonstration (50%)
The dataset you picked and instructions for cleaning the dataset. You should pick a suitable dataset to demonstrate the technique, toolkit, and problem you are facing. 
The quality of your demonstration. First demonstrate the basics of this approach, then show a few of the edges of how the library might be used for other cases. This is the "meat" of the assignment.

In [1]:
%matplotlib inline
from urllib.request import urlretrieve
import bokeh
import pandas as pd
import numpy as np
import os

In [30]:
covid_data_url = 'https://covid.ourworldindata.org/data/owid-covid-data.csv'
location_data_url = 'https://covid.ourworldindata.org/data/ecdc/locations.csv'

from downloadF.download_data import get_data

In [51]:
def get_data(url, filename, force_download=False):
    """Download and cache data

    Parameters
    ----------
    filename : string
    url : string -> web location of data
    force_download : bool -> if True, force download of data

    Returns
    -------
    response - file with filename to current directory
    """

    if force_download or not os.path.exists(filename):
       	res  = urlretrieve(url, filename)
    return res

In [52]:
get_data(covid_data_url, 'CovidData.csv', force_download=False)

('CovidData.csv', <http.client.HTTPMessage at 0x146c25953d0>)

In [54]:
get_data(location_data_url, 'LocationData.csv', force_download=False)

UnboundLocalError: local variable 'res' referenced before assignment

In [55]:
covid = pd.read_csv('CovidData.csv', index_col='date', parse_dates=True)
locations = pd.read_csv('LocationData.csv')

In [56]:
print(len(locations))
locations.head()

213

  countriesAndTerritories     location continent  population_year  population
0             Afghanistan  Afghanistan      Asia           2020.0  38928341.0
1                 Albania      Albania    Europe           2020.0   2877800.0
2                 Algeria      Algeria    Africa           2020.0  43851043.0
3                 Andorra      Andorra    Europe           2020.0     77265.0
4                  Angola       Angola    Africa           2020.0  32866268.0

In [57]:
print(len(covid.location.unique()))
covid.head()

215

,iso_code,continent,location,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
date,,,,,,,,,,,,,,,,,,,,,
2020-03-13,ABW,North America,Aruba,2.0,2.0,NaN,NaN,0.0,NaN,18.733,...,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29,NaN
2020-03-19,ABW,North America,Aruba,NaN,NaN,0.286,NaN,NaN,0.0,NaN,...,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29,NaN
2020-03-20,ABW,North America,Aruba,4.0,2.0,0.286,NaN,0.0,0.0,37.465,...,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29,NaN
2020-03-21,ABW,North America,Aruba,NaN,NaN,0.286,NaN,NaN,0.0,NaN,...,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29,NaN
2020-03-22,ABW,North America,Aruba,NaN,NaN,0.286,NaN,NaN,0.0,NaN,...,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29,NaN

In [58]:
data = covid.merge(locations, how='inner', on='location')
print(len(data.location.unique()))
data.head()

213

,iso_code,continent_x,location,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,countriesAndTerritories,continent_y,population_year,population_y
0,ABW,North America,Aruba,2.0,2.0,NaN,NaN,0.0,NaN,18.733,...,NaN,NaN,NaN,NaN,76.29,NaN,Aruba,North America,2020.0,106766.0
1,ABW,North America,Aruba,NaN,NaN,0.286,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,76.29,NaN,Aruba,North America,2020.0,106766.0
2,ABW,North America,Aruba,4.0,2.0,0.286,NaN,0.0,0.0,37.465,...,NaN,NaN,NaN,NaN,76.29,NaN,Aruba,North America,2020.0,106766.0
3,ABW,North America,Aruba,NaN,NaN,0.286,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,76.29,NaN,Aruba,North America,2020.0,106766.0
4,ABW,North America,Aruba,NaN,NaN,0.286,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,76.29,NaN,Aruba,North America,2020.0,106766.0